# Виртуальное окружение
.venv/
venv/
env/

# Кеши Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg

# Jupyter
.ipynb_checkpoints/

# Настройки IDE
.vscode/
.idea/

# Системный мусор
.DS_Store

# Логи
logs/
*.log

# Секреты
.env
.env.*


# --- prevent accidental commits ---
notebooks/models/

# ignore ALL models by default
models/*

# allow only required CLI artifacts (tracked in repo)
!models/tel_aviv_real_estate_model_v3_2_clean_cli.pkl
!models/tel_aviv_feature_cols_v3_2_clean_cli.json
!models/tel_aviv_metrics_v3_2_clean_cli.json
